body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  background-color: #cbb996ca;
}
#aboba {
  position: fixed;
  z-index: -3;
}

#aboba2{
  margin-left: 23.5vw;
  max-width: 72vw;
}

.pioption_container {
  margin-top: 14vh;
  width: 20vw;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.pioption_item {
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  /* border-radius: 5px; */
}
.pioption_item.active {
  background-color: #000;
  color: #fff;
}
.pioption_display {
  margin-top: 14vh;
  position: relative;
  width: 80vw;
  height: 86vh;
  overflow: hidden;
}
.pioption {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;  
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* opacity: 0; */
  transition: transform 0.6s, opacity 0.6s;
}
.pioption.active {
  opacity: 1;
}

.pioption-hidden{
  opacity: 0;

}

.pioption.enter-from-bottom {
  transform: translateY(100%);
}
.pioption.enter-from-top {
  transform: translateY(-100%);
}
.pioption.leave-to-top {
  transform: translateY(-100%);
  /* opacity: 0; */
}
.pioption.leave-to-bottom {
  transform: translateY(100%);
  /* opacity: 0; */
}
.pioption img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}